<!DOCTYPE html>
<html>
  <head>
    <title>List of Films</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
<div id="films">    
    <a href="/"><h1>List of Films</h1></a>

    <% if (items.length > 0) { %>
    <ul class="all">
      <% items.forEach(function(item) { %>
        <li itemscope itemtype="http://schema.org/Movie"><a href="/films/<%=item._id%>/" rel="film">
            <span itemprop="name"><%=item.title%> (<%=item.year%>)</span>
        </a></li>
      <% }); %>
    </ul>
    <% } else { %>
    <div>No films found.</div>
    <% } %>
</div>
    <div id="search" class="control">
      <h2>Search for films by name</h2>
      <form method="get" action="/films/search/">
        <label>Film name: <input name="title"></label>
        <button type="submit">Search</button>
      </form>
    </div>

<div id="new-film" class="control">
    <form method="post" action="/films/">

     <!-- The line above dynamically sets the PUT destination when the -->
        <!-- form is submitted. -------------------------------------------->
        <input type="hidden" name="_method" value="put">
        <!-- The line above tells the server to treat this as a PUT request. -->

    <label> Title <input type="text" name="item[title]" required value="" /></label>
	<label> Year <input type="text" name="item[year]" required pattern="[0-9]{4}" value="" /></label>
	<labe> Website <input type="url" name="item[url]" required value="" /></label>
    <label> Director <select type="text" name="item[director]">
            <% directors.forEach(function(director) { %>
            <option value="<%=director._id%>">
              <%=director.name%>
            </option>
            <% }); %>
    </select></label>
        <label>Film image URL:
          <input name="item[image]" type="url" size="80"
                   placeholder="">
        </label>
	<label> Rating <input type="text" name="item[rating]" value="" /></label>
	<label> Genre <input type="text" name="item[genre]" value="" /></label>
	<label> Language <input type="text" name="item[language]" value="" /></label>
    <label> Actor(s) <textarea name="item[actor]"></textarea></label>
    <label> Description <textarea name="item[description]"></textarea></label>
	<input type="submit" /></label>
	</form>
</div>
  </body>
</html>
