<!DOCTYPE html>
<html>
  <head>
    <title>Film Info: <%=item.title%></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <a href="/"><h1>Film Info</h1></a>
    <dl itemscope itemtype="http://schema.org/Movie">

      <dt class="title">Title</dt>
      <dd itemprop="name">
      <%=item.title%></dd>
      <dt class="year">Year</dt>
      <dd itemprop="datePublished" itemscope itemtype="http://schema.org/Date">
      <span itemprop="year"><%=item.year%></span></dd>
      <dt class="website">Website</dt>
      <dd itemprop="url">
      <a href="<%=item.url%>"><%=item.url%></a></dd>
      <dt class="director">Director</dt>
      <dd itemprop="director" itemscope itemtype="http://schema.org/Person">
      <a href="/directors/<%=item.director%>"><span itemprop="name"><%=item.director%></span></a></dd>
      <% if (item.image) { %>
      <dt class="image">Film poster</dt>
      <dd itemprop="image">
      <img src="<%=item.image%>" alt="<%=item.name%>"></dd>
      <% } %>
      <dt class="rating">Rating</dt>
      <dd itemprop="contentRating" itemscope itemtype="http://schema.org/Text">
      <span itemprop="ratingValue"><%=item.rating%></span></dd>
      <dt class="genre">Genre</dt>
      <dd itemprop="genre" itemscope itemtype="http://schema.org/Text">
      <span itemprop="genreValue"><%=item.genre%></span></dd>
      <dt class="language">Language</dt>
      <dd itemprop="inLanguage" itemscope itemtype="http://schema.org/Text">
      <span itemprop="languageValue"><%=item.language%></span></dd>
      <dt class="actor">Actor(s)</dt>
      <dd itemprop="actor" itemscope itemtype="http://schema.org/Person">
      <span itemprop="name"><%=item.actor%></span></dd>
      <dt class="description">Description</dt>
      <dd itemprop="description"><%=item.description%></dd>
    </dl>
    <div class="control">
      <h2>Update film</h2>
      <form method="post" action="/films/<%=item._id%>">

        <label>Name: 
          <input name="item[title]" value="<%=item.title%>" type="text" required>
        </label>
     <input name="item[year]" value="<%=item.year%>" type="text" required>
        </label>
        <label>Website:
           <input name="item[url]" value="<%=item.url%>" type="url" required>
        <label>Director: 
          <select name="item[director]" required>
            <% related_items.forEach(function(related_item) { %>
            <option value="<%=related_item._id%>"
              <% if (related_item._id === item.party) { %>selected<% } %>>
              <%=related_item.name%>
            </option>
            <% }); %>
          </select>
        </label>
        <label>Film poster:
          <input name="item[image]" value="<%=item.image%>" type="url" size="80"> 
        </label>
	<label> Rating <input type="text" name="item[rating]" value="<%=item.rating%>" /></label>
	<label> Genre <input type="text" name="item[genre]" value="<%=item.genre%>" /></label>
	<label> Language <input type="text" name="item[language]" value="<%=item.language%>" /></label>
    <label> Actor(s) <textarea name="item[actor]"><%=item.actor%></textarea></label>
    <label> Description <textarea name="item[description]"><%=item.description%></textarea></label>
        <button type="submit">Update</button>
      </form>
    </div>
  </body>
</html>
