tor<!DOCTYPE html>
<html>
  <head>
    <title>Director Information: <%=item.name%></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <a href="/"><h1>Director Information</h1></a>
    <dl>
      <dt>Director name</dt>
      <dd><%=item.name%></dd>
      <% if (item.description) { %>
      <dt>Description</dt>
      <dd><%=item.description%></dd>
      <% } %>
      <dt>Films</dt>
      
      <dd>
        <% if (related_items.length > 0) { %>
        <ul>
          <% related_items.forEach(function(related_item) { %>
          <li>
            <a href="/films/<%=related_item._id%>">
              <%=related_item.name%>
            </a>
          </li>
          <% }); %>
        </ul>
        <% } else { %>
        No films have been added to this director.
        <% } %>
      </dd>
    </dl>
    <div class="control">
      <h2>Add a new film</h2>
      <form id="create-film" method="post" action="/films/">
        <input type="hidden" name="item[party]" value="<%=item._id%>">
        <!-- The line above links the candidate to be created to this party. -->
        <label>Film title: 
          <input name="item[name]" type="text" required
                   placeholder="Title">
        </label>
        <label>Film image URL:
          <input name="item[image]" type="url" size="80"
                   placeholder="">
        </label>
        <button>Add</button>
      </form>
    </div>
  </body>
</html>
