<!DOCTYPE html>
<html>
  <head>
    <title>Director Information: <%=item.name%></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <a href="/"><h1>Director Information</h1></a>
    <dl itemscope itemtype="http://schema.org/Person">
      <dt class="director">Director name</dt>
      <dd itemprop="name">
      <%=item.name%></dd>
      <% if (item.description) { %>
      <dt class="description">Description</dt>
      <dd itemprop="description">
      <%=item.description%></dd>
      <% } %>
      <dt>Films</dt>
      
      <dd>
        <% if (related_items.length > 0) { %>
        <ul>
          <% related_items.forEach(function(related_item) { %>
          <li itemscope itemtype="http://schema.org/Movie">
            <a href="/films/<%=related_item._id%>" rel="film">
            <span itemprop="name"><%=related_item.title%> (<%=related_item.year%>)</span>
            </a>
          </li>
          <% }); %>
        </ul>
        <% } else { %>
        No films have been added to this director.
        <% } %>
      </dd>
    </dl>
    <div id="new-film" class="control">
      <h2>Add a new film</h2>
      <form method="post" action="/films/">
        <input type="hidden" name="item[director]" value="<%=item._id%>">
        <!-- The line above links the candidate to be created to this party. -->
        <label>Film title: 
          <input name="item[title]" type="text" required
                   placeholder="Title">
        </label>
        <input name="item[year]" type="text" required
                   placeholder="Year">
        </label>
        <label>Film image URL:
          <input name="item[image]" type="url" size="80"
                   placeholder="">
        </label>
	<label> Rating <input type="text" name="item[rating]" value="" /></label>
	<label> Genre <input type="text" name="item[genre]" value="" /></label>
	<label> Language <input type="text" name="item[language]" value="" /></label>
    <label> Description <textarea name="item[description]"></textarea></label>
     <!-- The line above dynamically sets the PUT destination when the -->
        <!-- form is submitted. -------------------------------------------->
        <input type="hidden" name="_method" value="put">
        <!-- The line above tells the server to treat this as a PUT request. -->

        <button>Add</button>
      </form>
    </div>
  </body>
</html>
