<!DOCTYPE html>
<html>
  <head>
    <title>Film Info: <%=item.title%></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <a href="/"><h1>Film Info</h1></a>
    <dl>
      <dt>Title</dt>
      <dd><%=item.title%></dd>
      <dt>Year</dt>
      <dd><%=item.year%></dd>
      <dt>Director</dt>
      <dd><a href="/directors/<%=director.id%>"><%=director.name%></a></dd>
      <% if (item.image) { %>
      <dt>Image URL</dt>
      <dd><img src="<%=item.image%>" alt="<%=item.name%>"></dd>
      <% } %>
      <dt>Rating</dt>
      <dd><%=item.rating%></dd>
      <dt>Genre</dt>
      <dd><%=item.genre%></dd>
      <dt>Language</dt>
      <dd><%=item.language%></dd>
      <dt>Description</dt>
      <dd><%=item.description%></dd>
    </dl>
    <div class="control">
      <h2>Update film</h2>
      <form method="post" action="/films/<%=item._id%>">

        <label>Name: 
          <input name="item[title]" value="<%=item.title%>" type="text" required>
        </label>
     <input name="item[year]" type="text" required
                   placeholder="Year">
        </label>
        <label>Director: 
          <select name="item[director]" required>
            <% related_items.forEach(function(related_item) { %>
            <option value="<%=related_item._id%>"
              <% if (related_item._id === item.party) { %>selected<% } %>>
              <%=related_item.name%>
            </option>
            <% }); %>
          </select>
        </label>
        <label>Image URL:
          <input name="item[image]" value="<%=item.image%>" type="url" size="80"> 
        </label>
        <label>Film image URL:
          <input name="item[image]" type="url" size="80"
                   placeholder="">
        </label>
	<label> Rating <input type="text" name="item[rating]" value="<%=item.rating%>" /></label>
	<label> Genre <input type="text" name="item[genre]" value="<%=item.genre%>" /></label>
	<label> Language <input type="text" name="item[language]" value="<%=item.language%>" /></label>
    <label> Description <textarea name="item[description]"><%=item.description%></textarea></label>
        <button type="submit">Update</button>
      </form>
    </div>
  </body>
</html>
